<table class="col-md-10 mx-auto table table-striped table-hover table-bordered mt-4">
    <tr style="background-color:rgb(148, 143, 143);" >
    <th>FLIGHT ID</th>
    <th>FLIGHT MODEL</th>
    <th>CARRIER NAME</th>
    <th>SEAT CAPACITY</th>
    <th>UPDATE</th>
    <th>DELETE</th>
    
    </tr>
    <tr *ngFor = "let flight of flights">
        <td><strong>{{flight.flightId}}</strong></td>
        <td><strong>{{flight.flightModel}}</strong></td>
        <td><strong>{{flight.carrierName}}</strong></td>
        <td><strong>{{flight.seatCapacity}}</strong></td>
        <td><a class="btn btn-info" (click)="updateFlight(flight.flightId)">Update</a> </td>
        <td><a class="btn btn-danger" (click)="deleteFlight(flight.flightId)">Delete</a> </td>
    </tr>
</table>

